In [1]:
import pandas as pd
import csv

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
# get the first table from the website
response = pd.read_html(url)[0] 

# write the data from website to a csv file
response.to_csv(r'rawdata.csv', mode='a',encoding='UTF-8',header=1,index=0)

In [3]:
# read the data in csv file to a dataframe
df = pd.read_csv(r'rawdata.csv')

In [4]:
# get rid of the "Not assigned" value of Column BOROUGH
df = df[df['Borough'] != "Not assigned"]

In [5]:
df.reset_index(drop=True, inplace=True)
# update the value of Column "Neighbourhood"
df.replace(['Neighbourhood','Not assigned'],'Borough')
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [6]:
#  group the Neighborhood by same postcode and Borough
df = df.groupby(['Postcode','Borough'],sort=False).agg(','.join).reset_index()
df.head()
df.shape

(104, 3)

In [7]:
# download the csv file and store as dataframe
csv = 'http://cocl.us/Geospatial_data'
df1 = pd.read_csv(csv)
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
df1 = df1.rename(columns={'Postal Code':'Postcode'})
df1.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [9]:
# merge 2 tables
geo_data = df.merge(df1,on=['Postcode'])
geo_data.shape

(103, 5)